<!-- templates/includes/header.html -->
 {% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-5">
  <a class="navbar-brand" href="{% url 'index' %}">Investo</a>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item me-3">
        <a class="nav-link btn btn-hover" href="{% url 'market' %}">Market</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link btn btn-hover" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#about-section">About</a>
      </li>
        <li class="nav-item me-3">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <div class="justify-content-end ms-3">
      {% if user.is_authenticated %}
        <a class="btn btn-outline-light btn-hover" href="{% url 'logout' %}">Logout</a>

      {% else %}
        <a class="btn btn-outline-light btn-hover" href="{% url 'login' %}">Login / Register</a>
      {% endif %}
    </div>

  
  </div>
</nav>